.getquote {
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #fff;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
 }
  
.getquote h2.customertitle {
    color: #fff;
  }
  
.getquote label {
    color: #fff;
  }
  
.getquote input,
.getquote textarea {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
  }
  
.getquote button[type="submit"] {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
.getquote button[type="submit"]:hover {
    background-color: #777;
  }

.getquote .form-group {
    margin-bottom: 15px;
  }
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .quotetitle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
/* Footer Styling Section*/
.call-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 10px; 
}

.call-button:hover {
  background-color: black;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links li a {
  color: #333;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center; 
}
