.landscape-section {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  text-align: center;
  padding: 1% 0;
}
.section-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px; 
  margin-top: 60px;
  padding: 20px; 
  text-align: center; 
  text-transform: uppercase; 
  color: white; 
  letter-spacing: 2px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  border-radius: 10px; 
  background-color: rgba(51, 51, 51, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.card {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 250px;
  margin: 20px;
  overflow: hidden;
  border: 5px solid black; 
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  margin-bottom: 5px;
}

.card-description {
  font-size: 14px;
}

.card:hover .card-image {
  transform: scale(1.1);
}

.card:hover .card-overlay {
  opacity: 1;
}
